/* Center all images */
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
}

/* Center all iframes */
iframe {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
}


/* General styles */
.tip-p a {
    text-decoration: none; /* Remove underline from links */
}
.tip-p button {
    padding: 10px 20px; /* Adjust padding as needed */
    border-radius: 5px; /* Set border-radius for rounded corners */
    margin: 5px; /* Add margin for spacing between buttons */
    cursor: pointer;
    transition: background-color 0.3s; /* Add smooth transition for the background color change */
    border: none; /* Remove the border */
    outline: none; /* Remove the outline on focus (for accessibility) */
}
.tip-p button:hover {
    background-color: #dddddd; /* Change to the desired darker color on hover */
}
/* Tip styles */
.tip-container {
    color: #5b561f;
    margin: 10px 0;
}
.tip-details {
    background-color: #FFFFFF;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}
.tip-summary {
    padding: 10px;
    background-color: #fffcda;
    border-radius: 0px; /* Set your desired border-radius value */
}
.tip-div {
    color: #000000;
    padding-top: 15px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
}
.tip-p {
    font-size: calc(1em - 2px);
}
.tip-img {
    float: left;
    margin-bottom: 20px;
}
/* Hint styles */
.hint-container {
    color: #45644e;
    margin: 10px 0;
}
.hint-summary {
    padding: 10px;
    background-color: #E5F9ED;
    border-radius: 0px; /* Set your desired border-radius value */
}
/* No dropdown tips styles */
.tip-nodropdown {
    background-color: #fffcda;
    padding: 10px;
    border-radius: 5px;
    margin: 10px 0;
    color: #5b561f;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}
/* Notes styles */
.note {
    background-color: #E5F7FF;
    padding: 10px;
    border-radius: 5px;
    margin: 10px 0;
    color: #335b72;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}
/* Warning styles */
.warning-container {
    color: #775e25;
    margin-bottom: 15px;
}
.warning-summary {
    padding: 10px;
    background-color: #fcf4e2;
    border-radius: 0px; /* Set your desired border-radius value */
}
/* Student Showcase */
.showcase-container {
    color: #321b41;
    margin: 10px 0;
}
.showcase-summary {
    padding: 10px;
    background-color: #e7d5f3;
    color: #321b41;
    border-radius: 0px; /* Set your desired border-radius value */
}
.showcase-details {
    background-color: #FFFFFF;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    margin: 10px;
}
/* Gallery styles */
.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-gap: 10px;
}
/* Excercise styles */
.exercise-container {
    color: #335b72;
    margin: 10px 0;
}
.exercise-summary {
    padding: 10px;
    background-color: #E5F7FF;
    color: #335b72;
    border-radius: 0px; /* Set your desired border-radius value */
}
.excercise-details {
    background-color: #FFFFFF;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    margin: 10px;
}
.image-container {
    display: flex;
    flex-direction: column;
}
.image-container .hint-container {
    margin-bottom: 10px; /* Adjusted to 10px */
}
.solution-container {
    margin-top: 5px;
    margin-bottom: 5px;
}
/* Card replacement */
.card {
    background-color: #ffffff;
    padding: 20px; /* Increased padding for even distance */
    border-radius: 5px;
    margin: 10px 0;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}
.card p {
    margin: 0; /* Remove default margin of the <p> element */
}

/* Tutorial styles */
.tutorial-container {
    color: #12223e;
    margin: 10px 0;
}
.tutorial-summary {
    padding: 10px;
    background-color: #eaf1ff;
    color: #12223e;
    border-radius: 0px; /* Set your desired border-radius value */
}

/*Dropdown replacement */
.tip-p {
    margin-bottom: 1em;
}
.dropdown-container {
    margin: 10px 0;
    color: #666666;
}
.dropdown-details {
    background-color: #FFFFFF;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}
.dropdown-summary {
    padding: 10px;
    background-color: #f5f5f5;
    border-radius: 0px; /* Set your desired border-radius value */
}
.dropdown-div {
    color: #000000;
    padding-top: 15px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
}
.dropdown-p {
}
.dropdown-img {
    float: left;
    margin-bottom: 20px;
}
/* table */
.dropdown-table {
    border-collapse: separate; /* Use separate borders for rounded corners */
    border-spacing: 0; /* No space between table cells */
    border-radius: 5px; /* Rounded corners */
    overflow: hidden; /* Ensure rounded corners are visible */
    width: 100%; /* Ensure the table takes up full width */
    color: #666666;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1)
}
.dropdown-table th,
.dropdown-table td {
    padding: 8px;
    border: 1px solid #ddd;
}
.dropdown-table th {
    text-align: left;
    background-color: #f5f5f5;
    padding-left: 20px; /* Additional padding for left column */
    padding-right: 20px; /* Padding for right column */
}
.dropdown-table td {
    padding-left: 20px; /* Additional padding for left column */
    padding-right: 0px; /* Padding for right column */
}
.dropdown-table td:first-child,
.dropdown-table th:first-child {
    border-left: none; /* Remove left border for first column */
    padding-left: 20px; /* Additional padding for leftmost cell */
}
.dropdown-table td:last-child,
.dropdown-table th:last-child {
    border-right: none; /* Remove right border for last column */
}
.dropdown-table tr:first-child td,
.dropdown-table tr:first-child th {
    border-top: none; /* Remove top border for first row */
}
.dropdown-table tr:last-child td,
.dropdown-table tr:last-child th {
    border-bottom: none; /* Remove bottom border for last row */
}

/* Assignment styles */
.assignment-container {
    color: #ffffff;
    margin: 10px 0;
}
.assignment-summary {
    padding: 10px;
    background-color: #304041;
    color: #ffffff;
    border-radius: 0px; /* Set your desired border-radius value */
}